<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo All</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h2>List of todos</h2>

<div class="warning">Warning, no items</div>

<ul th:each="todo : ${todos}">
    <li><span th:text="${todo.content}">content</span> <span th:text="${todo.priority}">priority</span></li>
</ul>

<form action="/html/todo/test" method="post" enctype="application/x-www-form-urlencoded">
    <label for="space">Space</label>
    <input type="text" name="space" id="space" value="" /><br/><br/>

    <label for="kittens">Kittens</label>
    <textarea name="kittens" id="kittens"></textarea><br/><br/>

    <hr/>

    <button type="submit">Submit</button>
</form>



</body>
</html>
