<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo All</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h2>Submitted fun</h2>

<p th:text="${testbody.space}">Space</p>
<p th:text="${testbody.kittens}">Kittens</p>

<br/><br/>
<ul>
<a href="/html/todo/all">Go to all</a>
<a href="http://www.google.com" target="_blank">Go to google</a>
</ul>

</body>
</html>
